@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 1rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --main-color: #1b9cfc;
  --text-color: #020102;
}

article {
  padding: 4rem 0 2rem;
}

img {
  width: 100%;
}

body {
  color: var(--text-color);
  width: 100%;
}

.container {
  max-width: 1068px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NAVIGATION */

.navbar-main-navbar {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.815);
  top: 0;
  width: 100vw;
  height: 50px;
  z-index: 3;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-toggle {
  display: none;
}

.links-right {
  position: relative;
  display: flex;
  gap: 30px;
}

.links-right .navbar-link {
  margin: 0;
  text-decoration: none;
  padding: 30px;
  color: #fff;
  font-weight: 500;
  transition: all 0.4s;
}

.navbar-link:hover {
  cursor: pointer;
  color: #1b9cfc;
  transition: 0.3s;
}

.navbar-logo {
  margin-top: 0;
  position: absolute;
  left: 3rem;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.navbar-dashboard-btn {
  border-radius: 11px;
  border-color: transparent;
  color: #000;
  position: absolute;
  top: 10px;
  right: 3rem;
  font-size: 18px;
  padding: 0 10px;
  background-color: #fff;
  transition: all 0.2s;
}

.navbar-dashboard-btn:hover {
  background: var(--main-color);
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

/* LANDING */

.landing {
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), #000),
    url(image/car-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
}

.landing-text {
  padding-left: 130px;
}

.landing-text h1 {
  font-size: 2.4rem;
  color: #fff;
}

.landing-text span {
  color: var(--main-color);
}

.landing-text p {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0.5rem 0 1.2rem;
  color: #fff;
}

.btn {
  padding: 10px 22px;
  background: var(--main-color);
  color: #fff;
  font-weight: 400px;
  border-radius: 15px;
}

.btn:hover {
  background: #ae00ff;
  cursor: pointer;
  transition: 0.3s;
}

/* STATS */

.icons-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
  padding: 5rem;
  background: #eee;
}

.icons-container .icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.icons-container .icons i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2.5rem;
  border-radius: 50%;
  background: #eee;
  text-align: center;
}

.icons-container .icons .stats h3 {
  color: var(--main-color);
  font-size: 2.5rem;
}

.icons-container .icons .stats p {
  color: #666;
  font-size: 1.5rem;
}

.icons-container .icons:hover {
  background: rgb(208, 208, 208);
  transition: 0.3s;
}

.icons-container .icons:hover i {
  background: var(--main-color);
  transition: 0.3s;
}

.icons-container .icons:hover .content h3 {
  color: #fff;
  transition: 0.3s;
}

.icons-container .icons:hover .content p {
  color: #eee;
  transition: 0.3s;
}

/* RECENT LISTINGS */

.popular-heading {
  text-align: center;
  margin-top: 4rem;
  padding-bottom: 2rem;
  font-size: 3.5rem;
  color: #000;
}

.popular-heading span {
  position: relative;
  z-index: 0;
}

.popular-heading span::before {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--main-color);
  clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 20px;
  grid-gap: 40px;
}
.card {
  background-color: #1c1b29;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}
.card-row {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card-row img {
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}
.container:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}

.details {
  padding: 20px 10px;
}
.details > h3 {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}
.details > p {
  color: #a0a0a0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

/* MEET THE TEAM */

.swiper {
  width: 950px;
}

.team {
  background: #eee;
}

.team-heading {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 3.5rem;
  color: #000;
  background: #eee;
}

.team-heading span {
  position: relative;
  z-index: 0;
}

.team-heading span::before {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--main-color);
  clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}

.team {
  position: relative;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-container .team-content {
  margin-bottom: 2rem;
}

.team .team-card .image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: var(--main-color);
}

.team .team-card .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.team-card {
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  width: 280px;
}

.team-card::before {
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: var(--main-color);
  border-radius: 20px 20px 0 0;
}

.team-card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

.team-card .media-icons {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-card .media-icons i {
  color: #fff;
  opacity: 0.6;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.team-card .media-icons i:hover {
  cursor: pointer;
  opacity: 1;
}

.team-card .name-profession {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #333;
}

.name-profession .name {
  font-size: 20px;
  font-weight: 600;
}

.name-profession .profession {
  font-size: 15px;
  font-weight: 500;
}

.name-profession .phone,
.name-profession .location {
  font-size: 12px;
  font-weight: 500;
}

.team-card .rating {
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.team-card .rating i {
  color: var(--main-color);
  font-size: 18px;
  margin: 0 2px;
}

.swiper-slide {
  height: 85%;
}

.swiper-pagination-bullet {
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: var(--main-color);
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0.6;
  color: var(--main-color);
  transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 0.7;
  color: var(--main-color);
}

/* CONTACT FORM */

.contact-heading {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 3.5rem;
  color: #000;
}

.contact-heading span {
  position: relative;
  z-index: 0;
}

.contact-heading span::before {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--main-color);
  clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}

.contact .contact-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}

.contact .contact-row .map {
  flex: 1 1 42rem;
  width: 100%;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #eee;
}

.contact .contact-row form {
  flex: 1 1 42rem;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #eee;
  text-align: center;
}

.contact .contact-row form h3 {
  font-size: 2rem;
}

.contact .contact-row form .box {
  margin: 0.7rem 0;
  width: 100%;
  border: none;
  border-bottom: 2px solid silver;
  padding: 0.5rem;
  font-size: 1rem;
  background: #eee;
}

.contact .contact-row form .box:focus {
  border-bottom: 2px solid var(--main-color);
  outline: none;
  transition: 0.5s;
}

.contact .contact-row form textarea {
  height: 15rem;
  resize: none;
}

.contact-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background: var(--main-color);
  color: #000;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  font-weight: 500;
  text-align: center;
  border: none;
}

.contact-btn:hover {
  background: #ae00ff;
  transition: 0.3s ease-in-out;
}

/* FOOTER */

.footer {
  background: rgb(44, 42, 42);
}

.footer .footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
.footer .footer-container .box h3 {
  color: var(--main-color);
  font-size: 1.3rem;
  padding: 1rem 0;
  padding-top: 2rem;
}

.footer .footer-container .box a {
  color: #fff;
  font-size: 0.9rem;
  padding: 1rem 0;
  display: block;
}

.footer .footer-container .box a i {
  padding-right: 0.5rem;
}

.footer .footer-container .box a:hover i {
  padding-right: 1.2rem;
  transition: 0.3s;
}

.copyright {
  color: #fff;
  font-size: 0.7rem;
  text-align: center;
  padding-bottom: 1rem;
}

/* RESPONSIVE WEBSITE */

@media (max-width: 1200px) {
  .all-links a,
  .navbar-dashboard-btn {
    display: none;
  }
}

@media (max-width: 800px) {
  .menu-toggle {
    position: absolute;
    top: 8px;
    right: 15px;
    display: block;
    font-size: 2em;
    cursor: pointer;
    color: #fff;
    z-index: 10;
  }

  .icons i {
    display: none;
  }

  .navbar-main-navbar .all-links {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 100%;
  }

  header.open .all-links {
    top: 50px;
    opacity: 1;
    visibility: visible;
    left: 0;
    background: #000;
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
  }

  header.open .links-right {
    flex-direction: column;
    width: 100%;
  }

  .icons i {
    display: none;
  }

  header.open .links-right a {
    font-size: 2em;
  }

  .navbar-dashboard-btn {
    display: none;
  }

  .landing {
    display: flex;
    justify-content: center;
  }

  .swiper {
    width: 750px;
  }
}

@media (max-width: 500px) {
  .navbar-logo {
    font-size: 1.5em;
    top: 3px;
  }

  .landing-text {
    padding: 0;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 20px;
    grid-gap: 40px;
  }

  .swiper {
    width: 250px;
  }
}

.view-more {
  padding: 7px 20px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.view-more::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.view-more:hover {
  color: #e8e8e8;
}

.view-more:hover::before {
  width: 100%;
}

.view-more:visited {
  color: #000;
}

.view-more:hover {
  color: #fff;
  background: #1c1b29;
  cursor: pointer;
}